@{
    ViewData["Title"] = "Success";
}
<div class="homeMain" style="text-align: center;justify-content: center;align-items: center;height: 100%">

    <h1>Thanks, <span style="color: #fbb040">@ViewData["Name"]</span>, for your message.</h1>
    <h2>Wait for feedback on <span style="color: #fbb040">@ViewData["Email"]</span></h2>
</div>