@{
    ViewData["Title"] = "Services";
}
<div class="homeMain">
    <div class="serviceBlock">
        <h1>Services</h1>
        <img src="~/images/divider.png" alt=""/>
    </div>
    <div class="servicesRow">
        <div class="service">
            <h2>AIR TICKETS</h2>
            <img src="~/images/services/plane.svg" alt=""/>
            <p>
                At our travel agency, you can book air tickets to any world destination.
                We also provide online ticket booking via our website in just a couple of steps.
            </p>
        </div>
        <div class="service">
            <h2>VOYAGES & CRUISES</h2>
             <img src="~/images/services/map.svg" alt=""/>
            <p>
                Besides regular tours and excursions, we also offer a variety of cruises & sea voyages
                for different customers looking for awesome experiences.
            </p>
        </div>
        <div class="service">
            <h2>HOTEL BOOKINGS</h2>
             <img src="~/images/services/hotel.svg" alt=""/>
            <p>
                We offer a wide selection of hotel ranging from 5-star ones to small properties located
                worldwide so that you could book a hotel you like.
            </p>
        </div>
        <div class="service">
            <h2>TAILORED SUMMER TOURS</h2>
             <img src="~/images/services/tour.svg" alt=""/>
            <p>
                Our agency provides varied tours including tailored
                summer tours for clients who are searching for an exclusive and memorable vacation.
            </p>
        </div>
    </div>
</div>