@model AboutTrip
@if (Model != null)
{
    <div class="selectContainer">
        <div class="selectText">
            <h2>@Model.Name</h2>
            <img src="~/images/divider.png" alt=""/>
            <p>@Model.Text
            </p>
        </div>
        <img src="~/images/about/@Model.Image" alt="Trip Image" class="image"/>
    </div>
     
}
else
{
    <p>Selected trip not found.</p>
}